# {{ ansible_managed }}
# default rules
local   all        {{ pguser }}         trust
host    all        {{ pguser }}  127.0.0.1/32  trust
host    all        {{ pguser }}  ::1/128       trust
local   all        all                         peer

{% if pgsql_cluster %}
{%   if pgsql_replication_provider == 'repmgr' %}
# replication rules
local   replication   repmgr                                    trust
host    replication   repmgr            127.0.0.1/32            trust
host    replication   repmgr            {{ ( ansible_default_ipv4.network + '/' + ansible_default_ipv4.netmask  ) | ipaddr('net')  }}        trust

local   repmgr        repmgr                                    trust
host    repmgr        repmgr            127.0.0.1/32            trust
host    repmgr        repmgr            {{ ( ansible_default_ipv4.network + '/' + ansible_default_ipv4.netmask  ) | ipaddr('net')  }}        trust
#{%   elif pgsql_replication_provider == 'basebackup' %}
# replication rules
#{%    for user in pgsql_replication_users %}
#{%      if user.state | default('present') == "present" %}
#host   {{ user.db }}           {{ user.name }}   {{ user.ip|default(( ansible_default_ipv4.network + '/' + ansible_default_ipv4.netmask  ) | ipaddr('net')) }}           md5
#{%       endif %}
#{%    endfor %}
{%   endif %}
{% endif %}

# fallback
host    all        all      {{ ( ansible_default_ipv4.network + '/' + ansible_default_ipv4.netmask  ) | ipaddr('net')  }}        md5

