[Unit]
Description=WSO2 Micro Integrator
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
Type=forking
ExecStart={{ mi_home }}/wso2mi-1.1.0/bin/micro-integrator.sh start
ExecStop={{ mi_home }}/wso2mi-1.1.0/bin/micro-integrator.sh stop
ExecRestart={{ mi_home }}/wso2mi-1.1.0/bin/micro-integrator.sh restart
PIDFile={{ mi_home }}/wso2mi-1.1.0/wso2carbon.pid
Restart=on-failure
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
